* {
  box-sizing: border-box;
}

* body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--gray-2);
}

input {
  font-family: var(--font-family);
}

:root {
  --primary: #ff8b48 ;
  --gray-1: #2f3542;
  --gray-2: #efefef;
  --font-family: 'Montserrat', sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%) ;
  --box-shadow-nav: rgb(0 0 0 / 22% ) 0px 2px 18px 0px;
  --text-color: #444;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.m-5 {
  margin: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.m-10 {
  margin: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.m-20 {
  margin: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.my-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.header {
  padding: 10px 20px;
  position: relative;
  height: 58px;
  background-color: white;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
}

.header .logo img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

@media screen and (max-width: 576px) {
  .headerList {
    display: none;
  }
}

.headerXs {
  display: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.headerXs:hover {
  opacity: 0.8;
}

@media screen and (max-width: 576px) {
  .headerXs {
    display: block;
  }
}

.menuContainer {
  position: absolute;
  top: 45px;
  right: 10px;
  width: 200px;
}

.menuContainer li {
  padding: 10px 5px;
  list-style-type: none;
  border-radius: 20px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.menuContainer li:hover {
  background-color: var(--primary);
  color: white;
}

.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.text-primary {
  color: var(--primary);
}

.footer {
  background-color: var(--gray-1);
  color: white;
}

.grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 350px);
  grid-auto-columns: repeat(3, 350px);
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 350px);
    grid-auto-columns: repeat(2, 350px);
  }
}

@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: 350px;
    grid-auto-columns: 350px;
  }
}

@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }
}

.elem {
  border: 1px solid red;
  height: 500px;
}

.content-card {
  max-width: 1130px;
  width: 100%;
}

.searchBar {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: 20px;
}

.searchBar input {
  outline: 0;
  border: 0;
}

.small {
  font-size: 12px;
  font-weight: 500;
}

.recipe {
  border-radius: 20px;
  height: 400px;
  cursor: pointer;
}

.recipe:hover img {
  transform: scale(1.1);
}

.recipe:hover .recipe-title {
  color: var(--primary);
}

.image-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  height: 300px;
}

.image-container img {
  width: 100%;
  transition: 0.2s transform;
}

.recipe-title {
  height: 100px;
  transition: 0.2s color;
  border: 1px solid var(--gray-2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.recipe-title i {
  font-size: 20px;
}

.b1 {
  background-color: red;
  border: 1px solid red;
}

.b2 {
  background-color: green;
  border: 1px solid green;
}

.b3 {
  background-color: blue;
  border: 1px solid blue;
}

.b4 {
  background-color: purple;
  border: 1px solid purple;
}

@media screen and (max-width: 576px) {
  .xs {
    border: 2px solid red;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sm {
    border: 2px solid green;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .md {
    border: 2px solid blue;
  }
}

@media screen and (max-width: 992px) {
  .md-lt {
    border: 2px solid orange;
  }
}

@media screen and (min-width: 1201px) {
  .xl {
    border: 2px solid purple;
  }
}

.spinne {
  font-size: 40px;
  color: var(--primary);
  animation: rotate 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=index.css.map */